
*{
	box-sizing: border-box;
}
main{
	padding-left: 80px;
    font-size: 0;
}

.nav-bar{
	background-color: #ecaa31;
	height: 60px;
	display: block;
	margin-bottom: 20px;
}

.starwar-header{
	padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
   padding-left: 80px;
}
.nav-bar label{
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 12px;
    padding-left: 80px;
}

img{
	height: 400px;
    padding-top: 30px;
}
h4{
	padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.row label{
	padding-left: 20px;
    font-size: 15px;
}
.image-info{
	border:1px solid #dcd5d5;
	 padding: 20px;
	margin-bottom: 20px;
}

.card-image {
  width: 100%;
}